@use "../../style/colors.scss" as c;
@use "../../style/index.scss" as index;

.content {
  width: 100%;

  .imgContainer {
    display: flex;
    justify-content: center;
    img {
      max-width: 50%;
    }
  }

  .triple {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    img {
      object-fit: contain;
      max-width: 30%;
    }
  }

  .typography {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    img {
      object-fit: contain;
      width: 100%;
      max-height: 500px;
    }
  }
  .link {
    font-size: index.$p-size;
    color: c.$green-solid;
  }
}
