@use "./colors.scss" as c;

.container {
  width: 100%;
  height: 100%;
}

.cursor {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background-color: c.$green;
    transition: transform 0.5s;
    pointer-events: none;
    mix-blend-mode: difference;
  }
  
.cursorHover {
    transform: scale(0.4)
}