@use "../../style/colors.scss" as c;
.content {
    h5 {
        position: relative;
        display: block;
        width: max-content;
        color: c.$grey;
        margin: 64px;
  
        &::before {
          content: " ";
          height: 50%;
          width: 110%;
          display: block;
          position: absolute;
          top: 70%;
          left: -5%;
          background: c.$green-alpha;
          z-index: -1;
        }
      }

      p {
          margin: 48px 64px;
      }
}