@use "../../style/colors.scss" as c;

.content {
  width: 100%;
  img {
    width: 100%;
    max-width: 600px;
  }

  .centerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .recommendations {
    h6,
    p {
      margin: 16px 0;
    }
    p {
      margin-bottom: 48px;
      font-style: italic;
    }
  }
}
