@use "../../style/colors.scss" as c;

.content {
  img {
    width: 100%;
    max-width: 600px;
  }

  .centerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
