@use "../../style/colors.scss" as c;
.content {
  h5 {
    display: block;
    position: relative;
    width: max-content;
    color: c.$grey;
    margin: 64px;

    &::before {
      content: " ";
      height: 50%;
      width: 110%;
      display: block;
      position: absolute;
      top: 70%;
      left: -5%;
      background: c.$green-alpha;
      z-index: -1;
    }
  }

  p {
    margin: 48px 64px;
  }

  .imgContainer {
    display: flex;
    justify-content: center;

    img {
      max-width: 60%;
    }
  }

  .csm, .boarding, .concealedImg {
    margin-bottom: 48px;

    img {
        width: 100%;
        max-width: 600px;
    }
  }

  .boarding {
      h5 {
          margin-bottom: 48px;
      }
      img {
          margin: 48px 0;
      }
  }

  .centerFlex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
  .reverse {
      flex-wrap: wrap-reverse;
  }
}
